@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: black;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: #f2c84b;
  border-radius: 8px;
}

.MuiPickersCalendarHeader-label {
  color: #fff !important;
}

.PrivatePickersYear-yearButton.Mui-disabled {
  color: rgba(255, 255, 255, 0.6) !important;
  font-weight: 400;
}

.PrivatePickersYear-yearButton {
  color: #fff !important;
  font-weight: 600;
  background-color: transparent !important;
}
